/* Global styles */
* {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Game container styling */
.divContainer {
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Button base styles */
.btn {
    border: 5px solid black;
    width: 175px;
    height: 175px;
    border-radius: 25px;
    cursor: pointer;
    margin: 8px;
}

/* Individual button colors */
.blue {
    background-color:#007bff;
}
.red {
    background-color: #dc3545;
}
.green {
    background-color: #28a745;
}
.yellow {
    background-color: #ffc107;
}

/* Flash effect for buttons */
.flash {
    background-color: white;
}
.flashGreen {
    background-color: rgb(132, 228, 132);
}

/* Game over effect */
.darkRed {
    background-color: red;
}
